<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Boris Page</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="~/css/ZabutoStyle.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />

    <style type="text/css">
        body {
            background-color: dimgrey;
        }

        #loginPartial {
            box-shadow: -14px 0 0 -12px grey
        }
        /* left padding creates a gap between links */
    </style>
</head>
<body>

    <!--Starting navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <!---->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li id="services">
                        @Html.ActionLink("Services", "Index", "Services")
                    </li>

                    <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li class="dropdown-submenu">
                                <a href="~/Views/Portfolio/Arduino.cshtml" class="nav-link dropdown-menu-right" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Arduino</a>
                                <ul class="dropdown-menu" aria-labelledby="arduino1">
                                    <li class="dropdown-item" href="#">@Html.ActionLink("General", "ArduinoGeneral", "Portfolio")</li>
                                    <li class="divider"></li>
                                    <li class="dropdown-item" href="#">@Html.ActionLink("Arduino1", "Project1", "Portfolio")</li>
                                    <li class="dropdown-item" href="#">@Html.ActionLink("Arduino2", "Project2", "Portfolio")</li>
                                    <li class="dropdown-item" href="#">@Html.ActionLink("Arduino3", "Project3", "Portfolio")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="nav-link dropdown-menu-right" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">iOS Apps</a>
                                <ul class="dropdown-menu" aria-labelledby="arduino1">
                                    <li class="dropdown-item" href="#">@Html.ActionLink("General", "IOSGeneral", "Portfolio")</li>
                                    <li class="divider"></li>
                                    <li class="dropdown-item" href="#">@Html.ActionLink("ToDo-list", "ToDoApp", "Portfolio")</li>
                                    <li class="dropdown-item" href="#">@Html.ActionLink("Strength Training", "StrengthApp", "Portfolio")</li>
                                </ul>
                            </li>
                            <li id="1columnportfolio">@Html.ActionLink("Raspberry Pi", "RaspberryPiGeneral", "Portfolio")</li>
                            <li id="1columnportfolio">@Html.ActionLink("Web Development", "WebDevGeneral", "Portfolio")</li>
                        </ul>
                    </li>



                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>

                    <li id="loginPartial">@Html.ActionLink("Account", "Login", "Account")</li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <!--Footer-->
    <div class="container">
        <hr>
        <footer align="center">
            <div class="row">
                <p>Copyright &copy; Boris Torbica 2018</p>
                <p>A Boris Site Edition</p>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
    <script src="~/js/ZabutoCalendar.js"></script>
</body>
</html>
